* {
	margin: 0;
	padding: 0;
}

.Icons {
	width: 26px;
	padding: 6px;
}

.gIcon {
	width: 50px;
	object-fit: contain;
	margin-left: 5px;
	padding-right: 10px;

}

.imgFont {
	cursor: pointer;
	font-size: x-large;
	font-weight: 300;


}

.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	border-bottom: 1px solid whitesmoke;
}

.headerLeft {
	display: flex;
	align-items: center;

}


.headerLeft span {
	padding: 10px;
	cursor: pointer;
}

.headerMiddle {
	display: flex;
	flex: 0.7;
	align-items: center;
	background-color: whitesmoke;
	padding: 3px;
	border-radius: 5px;
}

.Icons {
	color: gray;
}

.headerMiddle input {
	border: none;
	width: 100%;
	padding: 10px;
	outline: none;
	font-size: medium;
	background-color: transparent;
}

.headerRight {
	display: flex;
	padding-right: 20px;

}

.headerRight span {
	padding: 10px;
	cursor: pointer;
}

/* SIDE BODY */

.sideBody {
	flex: 0.3;
	max-width: 300px;
	padding-right: 20px;
}

.sideCompose {
	margin-top: 15px;
	margin-left: 10px;
	margin-bottom: 15px;
	text-transform: capitalize;
	color: gray;
	padding: 15px;
	border-radius: 30px;
	background-color: white;
	display: flex;
	align-items: center;
	cursor: pointer;
	outline: none;
	border: none;
	box-shadow: 0px 2px 5px -2px;

}


.sideBodyOption {
	display: flex;
	padding: 0 10px;
	border-top-right-radius: 20px;
	border-bottom-left-radius: 20px;
	cursor: pointer;
	color: rgb(77, 75, 75);
}

.sideBodyOption h3 {
	flex: 1;
	margin-top: 11px;
	margin-left: 10px;
	font-size: 14px;
	font-weight: 400;

}

.sidebarOpt:hover,
.sidebarOpt:hover h3,
.sidebarOpt:hover .Icons,
.sidebarOpt__active,
.sidebarOpt__active h3,
.sidebarOpt__active .Icons {
	background-color: #fcecec;
	color: red;
	font-weight: 800;
}


.sideBodyOption:hover,
.Icons:hover h3 {
	background-color: rgb(248, 230, 230);
	color: rgb(90, 86, 86);
}

/* bigBody */
.bigBody {
	display: flex;

}

body {

	overflow-y: hidden;

}


/* listSetting */


.listHead {
	flex: 1;
	overflow: scroll;
}

.listSetting {
	top: 0;
	display: flex;
	justify-content: space-between;
	border-bottom: 1px whitesmoke;
	background-color: white;
	z-index: 999;
	padding: 8px;
}

.listSettingLeft {
	display: flex;
	align-items: center;

}

.listSetting .Icons {
	margin: 5px;
	cursor: pointer;
}

.section {
	display: flex;
	align-items: center;
	border-bottom-width: 2px;
	padding: 15px;
	min-width: 200px;
	cursor: pointer;
	color: grey;
	border-width: 0;
}

.ListSection {

	top: 0;
	display: flex;
	background-color: white;
	border-bottom: 1px solid whitesmoke;
	z-index: 999;
}

.sectionSelected {
	background-color: whitesmoke;
	border-width: 3px;
	color: red;
	border-bottom: 3px solid red;
}

.sectionSelected .Icons {
	color: red;

}

.section:hover {
	background-color: whitesmoke;
	border-width: 3px;


}

.section h4 {
	font-size: 14px;
	margin-left: 15px;
}

.emailRowOptions {
	display: flex;
	align-items: center;

}

.emailRowOptions .Icons,
input {
	margin: 5px;

}

.emailRow {
	display: flex;
	align-items: center;
	padding: 5px;
	border-bottom: 1px solid whitesmoke;
	z-index: 999;
}

.emailRow:hover {
	border-top: 1px solid whitesmoke;
	box-shadow: 0px 4px 4px -2px rgba(0, 0, 0, 0.24);
}

.emailRowMessage {
	display: flex;
	flex: 0.8;
	align-items: center;
	font-size: 13px;

}

.emailRowMessage h4 {
	width: 400px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	padding-left: 5px;
	padding-right: 5px;

}

.emailRowTitle {
	font-size: 13px;
	flex: 0.3;

}

.emailRowTime {
	padding-right: 15px;
	font-size: 10px;
	font-weight: bold;

}

.emailRowDescription {
	font-weight: 400;
	color: grey;
}

.emailList {
	cursor: pointer;
}

@media screen and (max-width: 768px) {
	.emailRowMessage h4 {
		width: 391px;
	}

	.emailRowMessage {
		font-size: 11px;
	}

	.emailRowTitle {
		font-size: 12px;
	}

	.emailRowTime {
		font-size: 9px;
		padding-right: 3px;
	}

	.section h4 {
		margin-left: 0px;
		font-size: 13px;
	}

	.sideBody {
		max-width: 150px;
	}

	.sideBodyOption h3 {
		margin-left: 1px;
		font-size: 13px;
	}

	.gIcon {
		width: 24px;
		margin-left: 0px;
		padding-right: 0px;
	}

	.imgfont {
		font-size: large;
	}

	.headerMiddle {
		padding: 0px;
		border-radius: 5px;
	}

	.Icons {
		width: 20px;
	}

	.headerMiddle input {
		padding: 0px;
	}
}

@media screen and (max-width: 425px) {
	.headerMiddle {
		padding: 0px;
		border-radius: 9px;
	}

	.gIcon {
		width: 17px;
	}

	.Icons {
		width: 12px;

	}

	.imgFont {
		font-size: small;
	}

	.headerMiddle input {
		font-size: x-small;
		width: 117px;
	}

	.sideCompose {
		padding: 5px;
		font-size: x-small;
	}

	.sideBody {
		max-width: 92px;
	}

	.sideBodyOption h3 {
		font-size: x-small;
	}

	.section h4 {
		font-size: 11px
	}

	.sideBodyOption {
		border-top-right-radius: 17px;
		border-bottom-right-radius: 17px;
		border-bottom-left-radius: 0px;
	}

	.listSetting {
		padding: 0px;
	}

	.section {
		padding: 5px;
		min-width: 107px;
	}

	.emailRowTitle {
		font-size: 11px;
	}

	.emailRowTime {
		font-size: 8px;
	}

	.emailRowMessage h4 {
		width: 131px;
		white-space: nowrap;
	}
}

@media screen and (max-width: 375px) {
	.section {
		padding: 4px;
		min-width: 92px;
	}

	.emailRowMessage h4 {
		width: 85px;
	}

	.emailRowTime {
		padding-right: 0px;
	}

	.sideBodyOption h3 {
		margin-top: 5px;
	}